section
	.flex.flex--center
		.col-1
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum lectus nec justo mollis, ac porttitor eros sollicitudin. Praesent pellentesque dignissim ultrices. Vivamus vel tincidunt tortor. Vivamus lacus tortor, finibus at el
			
		.col-1
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum lectus nec justo mollis, ac porttitor eros sollicitudin. Praesent pellentesque dignissim ultrices. Vivamus vel tincidunt tortor. Vivamus lacus tortor, finibus at elit efficitur, feugiat aliquam nisi. Praesent volutpat risus tortor, ac scelerisque massa gravida tincidunt. Pellentesque ullamcorper massa id lectus facilisis, in egestas erat elementum. Fusce mollis, 

section
	.flex.flex--space-around
		.col-1
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum lectus nec justo mollis, ac porttitor eros sollicitudin. Praesent pellentesque dignissim ultrices. Vivamus vel tincidunt tortor. Vivamus lacus tortor, finibus at elit efficitur, feugiat aliquam nisi. Praesent volutpat risus tortor, ac scelerisque massa gravida tincidunt. Pellentesque ullamcorper massa id lectus facilisis, in egestas erat elementum. Fusce mollis, nulla ornare eleifend sollicitudin, mauris diam auctor sem, quis maximus justo nisl ac erat. Maecenas placerat neque et diam efficitur, id cursus eros porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam tincidunt, neque at porttitor blandit, enim purus mattis nibh, ac finibus nisi tortor eget eros. 
			
		.col-1.order-first
			p  CTA Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum lectus nec justo mollis, ac porttitor eros sollicitudin. Praesent pellentesque dignissim ultrices. Vivamus vel tincidunt tortor. Vivamus lacus tortor, finibus at elit efficitur, feugiat aliquam nisi. Praesent volutpat risus tortor, ac scelerisque massa gravida tincidunt. Pellentesque ullamcorper massa id lectus facilisis, in egestas erat elementum. Fusce mollis, nulla ornare eleifend sollicitudin, mauris diam auctor sem, quis maximus justo nisl ac erat. Maecenas placerat neque et diam efficitur, id cursus eros porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam tincidunt, neque at porttitor blandit, enim purus mattis nibh, ac finibus nisi tortor eget eros. 
			
section
	.flex.flex--center
		.col-2
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum lectus nec justo mollis, ac porttitor eros sollicitudin. Praesent pellentesque dignissim ultrices. Vivamus vel tincidunt tortor. Vivamus lacus tortor, finibus at elit efficitur, feugiat aliquam nisi. Praesent volutpat risus tortor, ac scelerisque massa gravida tincidunt. Pellentesque ullamcorper massa id lectus facilisis, in egestas erat elementum. Fusce mollis, nulla ornare eleifend sollicitudin, mauris diam auctor sem, quis maximus justo nisl ac erat. Maecenas placerat neque et diam efficitur, id cursus eros porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam tincidunt, neque at porttitor blandit, enim purus mattis nibh, ac finibus nisi tortor eget eros. 

section
	.flex.flex--center
		.col-50.flex.flex--center
			.col-1
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum lectus nec justo mollis, ac porttitor eros sollicitudin. Praesent pellentesque dignissim ultrices. Vivamus vel tincidunt tortor. Vivamus lacus tortor, finibus at elit efficitur, feugiat aliquam nisi. Praesent volutpat risus tortor, ac scelerisque massa gravida tincidunt. Pellentesque ullamcorper massa id lectus facilisis, in egestas erat elementum. Fusce mollis, nulla ornare eleifend sollicitudin, mauris diam auctor sem, quis maximus justo nisl ac erat. Maecenas placerat neque et diam efficitur, id cursus eros porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam tincidunt, neque at porttitor blandit, enim purus mattis nibh, ac finibus nisi tortor eget eros. 
			
		.col-50
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum lectus nec justo mollis, ac porttitor eros sollicitudin. Praesent pellentesque dignissim ultrices. Vivamus vel tincidunt tortor. Vivamus lacus tortor, finibus at elit efficitur, feugiat aliquam nisi. Praesent volutpat risus tortor, ac scelerisque massa gravida tincidunt. Pellentesque ullamcorper massa id lectus facilisis, in egestas erat elementum. Fusce mollis, nulla ornare eleifend sollicitudin, mauris diam auctor sem, quis maximus justo nisl ac erat. Maecenas placerat neque et diam efficitur, id cursus eros porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam tincidunt, neque at porttitor blandit, enim purus mattis nibh, ac finibus nisi tortor eget eros. 			
			
			
		