mixin face(face, words)
	li.face(style="background-image: url(#{face});")
		.bubble
			p #{words}

section#tumblr
	.flex.flex--center
		.col-1
			ul.faces
				+face("/assets/img/closedEyes.png", "Уже в 2 года нашла свой стиль. И это кстати не только шапочка с пампушкой, но и закрытые глаза на фотках, уф.")
				+face("/assets/img/dog.png", "Вот эта наглая мордочка заставила меня забыть о других моих игрушках")
				+face("/assets/img/boobs.png", "Если я начинаю сюда что-то постить, то уже не могу остановиться)")
		.col-1
			p.home-lead.outdented ...writes about her life on Tumblr...
			a(href="http://alinapogavari.tumblr.com/").home-cta Read the blog
