section#articles
	.flex.flex--center
		.col-50
			//.article
			ul.bxslider
					li
						img(src='http://placehold.it/800x400')
					li
						img(src='http://placehold.it/800x400')
					li
						img(src='http://placehold.it/800x400')
					li
						img(src='http://placehold.it/800x400')
		.col-50.flex.flex--center.align-center
			.col-1.align-center
				p.home-lead.outdented ...creates linguistic articles...
				a(href="http://alinapogavari.tumblr.com/").home-cta See all articles
